{% extends "my_site/base.html" %}
{% block content %}
<style>
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 15px
    }
</style>
<h1 style="text-align:center">Experience</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>December 2022 - april 2023</th>
        <td>Game "Snaky" written by Pygame</td>
      </tr>
    </thead>
    <tr>
        <th>October 2023 - present</th>
        <td>My resume site written by Django</td>
    </tr>
</table>
{% endblock content %}