{% extends "my_site/base.html" %}
{% block content %}
<div class="media">
  {% load static %}
  <img class="rounded-circle img-fluid" src="{% static 'my_site/my_photo.PNG' %}" alt="My photo" width="200px">
  <div class="media-body">
    <h1 class="mt-0">ANNA SOBOLEVA</h1>
    <h5 class="mt-0">Junior Python-Developer</h5>
    I am a Junior Python-Developer. I graduated from a medical university, but in the process
    I realized that I didn't want to connect my life with medicine. I decided to try my hand
    at programming and at the moment I have a solid basic knowledge of Python, I understand
    object-oriented programming, I have worked with Git, Jira, I have basic knowledge of SQL.
    I do my work responsibly and attentively. I also ready to learn something new.
  </div>
</div>
{% endblock content %}