{% extends "my_site/base.html" %}
{% block content %}
<h1> ANNA SOBOLEVA </h1>
<p> Junior Python-Developer </p>
<p> I am a Junior Python-Developer. I graduated from a medical university, but in the process
    I realized that I didn't want to connect my life with medicine. I decided to try my hand
    at programming and at the moment I have a solid basic knowledge of Python, I understand
    object-oriented programming, I have worked with Git, Jira, I have basic knowledge of SQL.
    I do my work responsibly and attentively. I also ready to learn something new.
</p>
{% endblock content %}